body {
    background: #f1f0ff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

#container {
    z-index: 111;
}

.navT {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-transition: all 0.25s;
    z-index: 111;
    cursor: pointer;
    width: 100%;
    background: #f1f0ff;
    height: 65px;
    left: 0;
    top: 0;
    position: fixed;
}

.sign {
    float:right;
    
}
.sign a{
    text-decoration: none;
    color: #817acb;
    font-size: 22px;
}

.navT .icon {
    -webkit-transition: all 0.25s;
    position: relative;
    width: 30px;
    height: 1px;
    left: 0px;
    top: 0px;
    background-color: black;
}

.navT .icon:before,
.navT .icon:after {
    -webkit-transition: all 0.25s;
    width: 30px;
    height: 1px;
    left: 0;
    background: black;
    position: absolute;
    content: "";
}

.navT .icon:before {
    top: -10px;
}

.navT .icon:after {
    top: 10px;
}

.navT:hover {
    background: #cecdf8;
}

.navT:hover .icon:before {
    top: -12px;
}

.navT:hover .icon:after {
    top: 12px;
}

.navT.active .icon {
    -webkit-transform: rotate(180deg);
    background-color: transparent;
    left: 10px;
}

.navT.active .icon:before,
.navT.active .icon:after {
    top: 0;
}

.navT.active .icon:before {
    -webkit-transform: rotate(45deg);
}

.navT.active .icon:after {
    -webkit-transform: rotate(-45deg);
}

#menu {
    z-index: 111;
    -webkit-transition: all 0.5s;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 65px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    height: 0;
    border-bottom: 1px solid transparent;
    overflow: hidden;
}

#menu ul {
    list-style: none;
    padding: 0;
    letter-spacing: 0.4em;
}

#menu li:first-child {
    margin-top: 0;
}

#menu li {
    -webkit-transition: all 0.2s;
    margin-top: 0px;
    padding: 0px 0;
    color: black;
}

#menu a {
    padding: 8px;
    -webkit-transition: all 0.25s;
    cursor: pointer;
}

#menu a:hover {
    letter-spacing: 0.5em;
    text-decoration: none;
}

#menu.open {
    height: 579px;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;
    opacity: 95%;
}

input[type=text] {
    background-color: white;
}

.space {
    letter-spacing: 0;
}

.content {
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    -webkit-transition: top 0.5s;
    position: absolute;
    top: 65px;
    margin: 0 auto;
    background-color: #f1f0ff;
}

.content h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 10px;
    color: black;
}

.content h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin-top: -25px;
    margin-left: 10px;
    font-weight: 400;
    letter-spacing: 0.7em;
}

.content.shift {
    top: 335px;
}

p {
    max-width: 600px;
    font-size: 0.75em;
    line-height: 1.75em;
    text-align: left;
    margin-left: 10px;
}

.hero {
    margin-top: 60px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: ; */
}

.button-coll {
    width: 90%;
    margin-left: 50px;
    text-align: center;

}

.btn {
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #6c63ff;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    right: 650px;
}
.btn a{
    text-decoration: none;
    font-size: larger;
    color: white;
}

.btn-15 {
    border: 2px solid white;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: white;
    transition: all 0.3s ease;
    font-weight: 700;
}

.btn-15:hover {
    color: black;
}

.btn-15:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

#second {
    left: 0;
    width: 100%;
    background: white;
    height: 600px;
    margin-top: 200px;
    text-align: center;
    background-color: #f1f0ff;
}

#second h1,
#second h2 {
    margin-right: 20px;
}

#second h1 {
    padding-top: 40px;
}

#second p {
    text-align: right;
    margin-bottom: 20px;
}
.hero span{
    color:#6c63ff;
}
.hero2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #f1f0ff;
}

.hero2 img {
    margin-left: 100px;
}

.textup {
    margin-bottom: 100px;
}
.textup span{
    color:#6c63ff;
}

.hero3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f1f0ff;
}

.hero3 img {
    margin-right: 100px;
}

#third {
    background: black;
    width: 100%;
    height: 300px;
    padding-top: 50px;
}

#third h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#third h5 {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.25em;
    text-align: center;
}
#third h6{
    color: white;
    /* font-family: sans-serif; */
    margin-top: 130px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.25em;
    text-align: center;
}
#third h6 span{
    color: red;
}
.text {
    color: white;
    text-shadow: 1px 1px 2px rgb(243, 172, 223), 0 0 25px blue, 0 0 5px darkblue;
}
li:hover {
    scale: 1.1;
}
#id_password2{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #d5d2f3;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;   
}

/* register and login page */

.register-login-form {
    height: 75vh;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.register-login-form * {
    font-family: 'Poppins', sans-serif;
    color: #403d64;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.register-login-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #d5d2f3;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.register-login-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.register-login-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.button-submit-login {
    margin-top: 50px;
    width: 100%;
    background-color: #d5d2f3;
    color: #403d64;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.button-submit-login:hover{
    background-color: #817acb;
    color: #d5d2f3;
}

/* For face/upperbody/lowerbody/face/blood models */

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -80px;
    bottom: -80px;
}

.models-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.models-card-container{
    position: relative;
    display: flex;
    flex-direction: row ;
    
    /* justify-content: center; */
    align-items: center;
    max-width: 1200px;
    /* flex-wrap: wrap; */
    z-index: 1;
}
.models-card-container .models-card{
    position: relative;
    width: 640px;
    height: 320px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.models-card-container .models-card .model-card-content{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transition: 0.5s;
}
.models-card-container .models-card :hover .models-card-content{
    transform: translateY(0px);
    opacity: 1;
}
.models-card-container .models-card .models-card-content h2{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: #2892ee;
    pointer-events:none;
}
.models-card-container .models-card .models-card-content h3{
    font-size: 1.8em;
    color: #d22c73;
    z-index: 1;
}
.models-card-container .models-card .models-content p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #403d64;
    font-weight: 300;
}
.models-card-container .models-card .models-card-content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #403d64;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


/* Image-Uploader */

.image-uploader-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
} */

.image-uploader-wrapper .image-uploader-file-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
}

.image-uploader-wrapper .image-uploader-file-upload #id_image_field {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.image-uploader-wrapper .image-uploader-file-upload:hover {
    background-position: 0 -100%;
    color: #2590EB;
}

.image-uploader-submit-button {
    background: white;
    margin: 0 100vh;
    color: #2590EB;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 5px;

}

.heading1 {
    color: rgb(37, 72, 180);
    text-align: center;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Report Card CSS */

.report-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.report-card-container{
    position: relative;
    display: flex;
    flex-direction: row ;
    
    
    /* justify-content: center; */
    align-items: center;
    max-width: 1200px;
    /* flex-wrap: wrap; */
    z-index: 1;
}
.report-card-container:hover{
    scale: 1.07;
    transition: 1s ease;
}
.report-card-container .reort-card{
    position: relative;
    width: 320px;
    height: 440px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.report-container .report-card .report-content{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transition: 0.5s;
}
.report-card-container .report-card :hover .report-card-content{
    transform: translateY(0px);
    opacity: 1;
}
.report-card-container .report-card .report-card-content h2{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: #2892ee;
    pointer-events:none;
}
.report-card-container .report-card .report-card-content h3{
    font-size: 1.8em;
    color: #d22c73;
    z-index: 1;
}
.report-card-container .report-card .report-card-content p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #403d64;
    font-weight: 300;
}
.report-card-container .report-card .report-content {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #403d64;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
} 
.place{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.report-card-bg{
    min-height: 100vh;
    background: #f1f0ff;
}
.report-card-bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#7feaae,#cdee68);
    clip-path: circle(30% at right 70%);
}
.report-card-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#5daaea,#2edf8f);
    clip-path: circle(20% at 10% 10%);
}