{% extends 'main.html' %}

{% block title %}Heartattack{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Heartattack Detection</h1>

<form method='POST'>
    <div class="formgroup-table">
       {% csrf_token %}
       {% for f in form %}
       <label class='input-labels'  >{{f.label}}
         
         {{f}}
       </label>
       {% endfor %}
    
      <button type='submit'>submit</button>
    
      <h3>{{acc}}</h3>
       <h3>{{result}}</h3>
       <h3>{{cures}}</h3>
     </div>
     
    </form>

{% endblock content %}