{% extends 'main.html' %}

{% block title %}V1nland{% endblock title %}

{% block content %}

<div class='content'>
    <div class="hero">
        <div>
            <h1>Why<span> Vinland ?</span></h1>
            <h2>The Land of the Cure!</h2>
            <p>Clinical decision support systems (CDSS) are computer-based programs that analyze data within EHRs to provide prompts and reminders to assist health care providers in implementing evidence-based clinical guidelines at the point of care.</p>
        </div>

        <div class="img1">
            <img src="/media/assets/undraw_doctor_kw-5-l.svg" alt="" width=800px height="500px">
        </div>
    </div>
    <div class="button-coll">
        <button class="btn btn-15"><a href="https://github.com/anky209e/vinland/">Github</a></button>
    </div>


    <div id="second">
        <div class="hero2">
            <div class="textup">
                <h1>Our<span> Objectives</span></h1>
                <h2>Improving patient's health</h2>
                <p>Our main purpose is to provide timely information to clinicians, patients, and others to inform decisions about health care. Examples of CDS tools include databases that can provide information relevant to particular patients, reminders for preventive care, and alerts about potentially dangerous situations.</p>
            </div>
            <div>
                <img src="/media/assets/casual-life-3d-young-woman-holding-blank-speech-bubble.png" alt="">
            </div>
        </div>
    </div>


    <div id="second">
        <div class="hero3">
            <div class="textup">
                <h1>Family's <span>Healthcare</span> </h1>
                <h2>Collabaraitng with ML</h2>
                <p>V1nLand helps clinical teams/patients by taking over some routine tasks, warning of potential problems, or providing suggestions for the clinical team and patient to consider.
                    CDS tools are increasingly leveraging machine learning and artificial intelligence to power sophisticated analytics.  Machine learning algorithms can ingest large quantities of data, identify patterns, and return detailed results to users.
                </p>
            </div>
            <div>
                <img src="/media/assets/3d-casual-life-young-couple-with-pet-dogs.png" alt="" height=500px width=400px>
            </div>
        </div>
    </div>

    <div id="third">
        <h2>The Future is V1nland</h2>
        <h5>Coming Soon</h5>
        <h6>@copyright<span> V1nlands</span></h6>
    </div>
</div>

{% endblock content %}