{% extends 'main.html' %}

{% block title %}{{name}}{% endblock title %}

{% block content %}
<br>
<br>
{% if image_form %}
    <form method="POST" enctype="multipart/form-data" class="cnn-form" >\
        {% csrf_token %}
        {{ image_form }}
        
        <input type="submit" value="Upload" class="submit">
    </form>
    <br>
    <br>
    <br>
    <br>

{% endif %}

{% for class,prob in list %}

<div class="result">
    <p>{{class}}</p>
    <p>{{prob}}%</p>
</div>

{% endfor %}


{% endblock content %}