<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/media/css/main.css">

</head>


<body>
    <div id="container">
        <div class="navT">
            <img src="/media/assets/logo.png" alt="" height=90px width=150px>
            <div class="icon"></div>
        </div>

        <div id="menu">
            <ul>
                <li><a><img src="/media/assets/behance.png"></a></li>
                <li><a><img src="/media/assets/facebook.png"></a></li>
            </ul>
        </div>
    </div>
    <div class='content'>
        <div class="hero">
            <div>
                <h1> Sample Content </h1>
                <h2>A quick example of a nav menu</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="img1">
                <img src="Images/undraw_doctor_kw-5-l.svg" alt="" width=800px height="500px">
            </div>
        </div>
        <div class="button-coll">
            <button class="btn btn-15">Click Here</button>
        </div>



        <div id="second">
            <div class="hero2">
                <div class="textup">
                    <h1>The Top Menu</h1>
                    <h2>Pushes page content down</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                </div>
                <div>
                    <img src="/Images/casual-life-3d-young-woman-holding-blank-speech-bubble.png" alt="">
                </div>
            </div>
        </div>


        <div id="second">
            <div class="hero3">
                <div class="textup">
                    <h1>The Top Menu</h1>
                    <h2>Pushes page content down</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
                </div>
                <div>
                    <img src="/Images/3d-casual-life-young-couple-with-pet-dogs.png" alt="" height=500px width=400px>
                </div>
            </div>
        </div>

        <div id="third">
            <h2>But also allows for scrollling</h2>
            <h5>While the menu is down</h5>
        </div>
    </div>
    {% block content %}

    {% endblock content %}
</body>

</html>