<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/media/css/main.css">
</head>

<body>
    {% comment %} <div id="container">
        <div class="navT">
            <a href="/"><img src="/media/assets/logo.png" alt="" height=90px width=150px></a>
            <div class="icon"></div>
        </div>

        <div id="menu">
            <ul><div class="overlay">
                    <div class="text">Head</div>
                </div>
                <li><a><img src="/media/assets/head.png" height="90px" width="130px"></a></li>
                <div class="overlay">
                    <div class="text">Upperbody</div>
                </div>
                <li><a><img src="/media/assets/upbody.png" height="90px" width="130px"></a></li>
                <div class="overlay">
                    <div class="text">Lowerbody</div>
                </div>
                <li><a><img src="/media/assets/lowbody.png" height="175px" width="125px"></a></li>
                <div class="overlay">
                    <div class="text">Blood</div>
                </div>
                <li><a><img src="/media/assets/icons8-pharmacy-64-removebg-preview.png" height="100px" width="100px"></a></li>
            </ul>
        </div>
    </div> {% endcomment %}
    {% block content %}

    {% endblock content %}
</body>
</html>