<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/media/css/main.css">

</head>


<body>
    <div id="container">
        <div class="navT">
            <img src="/media/assets/logo.png" alt="" height=90px width=150px>
            <div class="icon"></div>
        </div>

        <div id="menu">
            <ul>
                <li><a><img src="/media/assets/behance.png"></a></li>
                <li><a><img src="Images\facebook.png"></a></li>
            </ul>
        </div>
    </div>
    

    {% block content %}

    {% endblock content %}
</body>

</html>