{% extends "main.html" %}
{% block title %}Registration{% endblock title %}
{% block content %}
    <div class="register-login-container">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
    <form method="POST" class="register-login-form">
        <h3>Signup Here</h3>
        {% csrf_token %} 
        <label>Username:</label>
        {{form.username}} <br>
        <label>Email:</label>
        <input type='email' name='email' placeholder='email' />
        <label>Password:</label>
        {{form.password1}} <br>
        <label>Confirm Your Password:</label>
        {{form.password2}} <br>
        <button class="button-submit-login" type=sumbit>Submit</button> <br>
        <strong><a href="{% url 'login' %}">Already Have an account?</a></strong>
    </form>
    </div>
{% endblock content %}